* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #37353E;
  display: flex;
  align-items: center;
  margin-left: 10%;
  /* justify-content: center; */
}

.container {
  width: 90%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.intro {
  width: 420px;
  color: #D3DAD9;
}

h5 {
  color: #D3DAD9;
  font-size: 15px;
  text-align: start;
  margin-bottom: 10px;
}

h2 {
  color: #715A5A;
  margin: 10px 0 20px 0;
  text-align: start;
}

img {
  height: 30vh;
  width: 30vh;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}

.intro p {
  line-height: 1;
  word-wrap: break-word;
}
